<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My latest activities – Strava Viewer</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <meta content="text/html; charset=utf-8" />
  </head>
  <body>
    <div class="container">
      <h1>My latest activities</h1>
      <p>
        <a href="{{ url_for('index') }}">Activity list</a>
        &middot;
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
      </p>

      {% if error %}
      <div class="card red lighten-4">
        <div class="card-content">
          <span class="card-title">Could not load activities</span>
          <p>{{ error }}</p>
        </div>
      </div>
      {% endif %}

      {% if not error and not club_activities %}
      <p class="flow-text">
        No activities to show. If you expected data, check that Redis is running
        and look at the server console for errors.
      </p>
      {% endif %}

      <ul class="collection">
        {% for club_activity in club_activities %}
        <li class="collection-item avatar">
          <em class="material-icons circle"
            >{{club_activity.materialize_icon}}</em
          >
          <span class="title">{{club_activity.name}}</span>
          <p>
            {{club_activity.activity_type}} <br />
            {% if club_activity.athlete.firstname %}by {{club_activity.athlete.firstname}}{% endif %}
          </p>
        </li>
        {% endfor %}
      </ul>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
      integrity="sha512-NiWqa2rceHnN3Z5j6mSAvbwwg3tiwVNxiAQaaSMSXnRRDh5C2mk/+sKQRw8qjV1vN4nf8iK2a0b048PnHbyx+Q=="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
